@import "mixin";

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;

}

body {
    display: flex;
    justify-content: center;
    background: #FFFEF1;
    padding: 0;
}

::selection {
    background-color: #EFEFEF;
    color: #16213D;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    //solo se usa 1 vez
    font-family: "Pattaya", sans-serif;
    font-size: 55px;
    font-style: normal;
    color: #000000;

}

h2 {
    //titulo
    @include textos(17px, center);
    font-weight: normal;
    color: #000000;
    display: block;
}

h3 {
    @include textos(20px, center);
    font-weight: bold;
    margin: 10px 0px;
    color: #16213D;
}

h4 {
    @include textos(20px, center);
    font-weight: 400;
    color: #16213D;
}

h5 {
    color: #16213D;
    font-size: 20px;
}

p {
    @include textos(17px, center);
    font-weight: normal;
    color: #16213D;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

button {
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
}

.margin-b {
    margin-bottom: 20px;
}

.txt-aling {
    text-align: left;
    margin-left: 50px;
}


@media(min-width: 1000px) {}