@import "mixin";

html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    display: flex;
    justify-content: center;
    background: #ffffff;
    padding: 0;
}

header{
    @include textos(20px,center);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    width: 100%;
    height: 10%;
    nav {
        a {
            color: rgb(0, 0, 0);
            font-size: medium;
            font-weight: lighter;
            margin: 15px;
            text-decoration: none;
        }
    }
}

article{
    max-width: 1500px;
}

h1{ //solo se usa 1 vez
    margin-top: 180px;
    @include textos(50px,center);
    font-weight:bolder;

}

h2{ //titulo
    @include textos(22px,center);
    font-weight:bold;
    color: black;
    display: block;
}

h3{ 
    @include textos(20px,center);
    font-weight:bold;
    margin: 10px 0px;
}

h4{ 
    @include textos(20px,center);
    font-weight:400;
    color: black
}

p{ //parrafo
    @include textos(15px,center);
    color: rgb(255, 255, 255);
    max-width: 300px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.margin-b{
    margin-bottom: 20px ;
}

.txt-aling{
    text-align: left;
    margin-left: 50px;
}

.colorFondo{
    background-color:rgba(0, 0, 255, 0.079);
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 100%;
    animation-name: ciculoazul;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 0 -5px 32px 32px rgba(0, 0, 255, 0.079);
    -moz-box-shadow: 0 -5px 32px 32px rgba(0, 0, 255, 0.079);
    box-shadow: 0 -5px 32px 32px rgba(0, 0, 255, 0.079);
}

.colorFondo2{
    background-color:rgba(85, 255, 0, 0.112);
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 100%;
    animation-name: circuloverde;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 0 -5px 32px 32px rgba(85, 255, 0, 0.169);
    -moz-box-shadow: 0 -5px 32px 32px rgba(85, 255, 0, 0.169);
    box-shadow: 0 -5px 32px 32px rgba(85, 255, 0, 0.169);
}

@keyframes ciculoazul{
    0% {left:50%; bottom: 0%;}
    50% {left: 0%; bottom: 0%;}
    100% {left: 50%; bottom: 0%;}
}

@keyframes circuloverde{
    0% {left: 0%; top: 0%;}
    50% {left: 20%; top: 0%;}
    100% {left: 0%; top: 0%;}
}