@import "mixin";

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;

}

body {
    display: flex;
    justify-content: center;
    background: #FFFEF1;
    padding: 0;
}

::selection {
    background-color: #d6ffa0;
    color: #16213D;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    //solo se usa 1 vez
    font-family: "DynaPuff", system-ui;
    font-size: 48px;
    font-style: normal;
    color: #000000;

}

h2 {
    //Titulo Secundario
    @include textos(17px, start);
    font-weight: normal;
    color: #000000;

}

h3 {
    //subtitulo
    @include textos(20px, center);
    font-weight: bold;
    margin: 10px 0px;
    color: #16213D;
}

h4 {
    @include textos(20px, center);
    font-weight: 400;
    color: #16213D;
}

h5 {
    color: #16213D;
    font-size: 20px;
}

p {
    @include textos(17px, center);
    font-weight: normal;
    color: #16213D;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

button {
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
}


.margin-b {
    margin-bottom: 30px;
    margin-top: 10px;
}

.txt-aling {
    text-align: left;
    margin-left: 50px;
}


.btn1{
    margin: 20px;
    border-color: black;
    border-width: 3px;
    background-color: #ffffff;

    box-shadow: 4px 4px 0px 0px #b0c787;
    -webkit-box-shadow: 4px 4px 0px 0px #b0c787;
    -moz-box-shadow: 4px 4px 0px 0px #b0c787;
}

.btn2{
    margin: 20px;
    border-color: black;
    border-width: 3px;
    background-color: #ffffff;

    box-shadow: 4px 4px 0px 0px #FF6B6B;
    -webkit-box-shadow: 4px 4px 0px 0px #FF6B6B;
    -moz-box-shadow: 4px 4px 0px 0px #FF6B6B;
}

.btn3{
    margin: 20px;
    border-color: black;
    border-width: 3px;
    background-color: #ffffff;

    box-shadow: 4px 4px 0px 0px #54d0ed;
    -webkit-box-shadow: 4px 4px 0px 0px #54d0ed;
    -moz-box-shadow: 4px 4px 0px 0px #54d0ed;
}

.btn4{
    margin: 20px;
    border-color: black;
    border-width: 3px;
    background-color: #ffffff;

    box-shadow: 4px 4px 0px 0px #000000;
    -webkit-box-shadow: 4px 4px 0px 0px #000000;
    -moz-box-shadow: 4px 4px 0px 0px #000000;
}



@media(min-width: 1000px) {}