.cont-globos-habilidades{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.cont-hab-cont{
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt-habilidades{
    font-weight:bold;
    @include textos(20px,center);
}

.globos-small{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.globo1-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#e48315;
}

.globo2-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#5183e7;

}

.globo3-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#fb6f92;
}

.globo4-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: fit-content;
    max-width: 100px;
    height: 20px;
    background-color:#ffb703;
}

.globo5-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#003d5b, #316986);

}

.globo6-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#44355b, #766196);
}

.globo7-small{
    border-radius:100px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#4A5D23, #7a904e);
}

.globo1{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 10px;
    width: 110px;
    height: 110px;
    margin:  8px;
    background-color: #e48315;


}

.globo2{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 10px;
    width: 110px;
    height: 110px;
    margin: 8px;
    background-color: #5183e7 ;

}

.globo3{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 10px;
    background-color: #fb6f92;
    width: 110px;
    height: 110px;
    margin: 8px;
}

.globo4{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #e0ac00;
    width: 110px;
    height: 110px;
    margin: 8px;
}

.globo5{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #006ca2;
    width: 110px;
    height: 110px;
    margin: 8px;
}

.globo6{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #766196;
    width: 110px;
    height: 110px;
    margin: 8px;
}

.globo7{
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #7a904e;
    width: 110px;
    height: 110px;
    margin: 8px;
}


@media(min-width: 1000px){
    .globo1{
        &:hover{
            box-shadow:0px 0px 20px #fb860048;
        }
    }
    .globo2{
        &:hover{
            box-shadow:0px 0px 20px #5183e7ac;
        }
    }
    .globo3{
        &:hover{
            box-shadow:0px 0px 20px #fb6f92ac;
        }
    }
    .globo4{
        &:hover{
            box-shadow:0px 0px 20px #ffb703;
        }
    }
    .globo5{
        &:hover{
            box-shadow:0px 0px 20px #003d5b;
        }
    }
    .globo6{
        &:hover{
            box-shadow:0px 0px 20px #7678edac;
        }
    }
    .globo7{
        &:hover{
            box-shadow:0px 0px 20px #4A5D23;
        }
    }
}