.cont-globos-habilidades{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.cont-hab-cont{
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt-habilidades{
    font-weight:bold;
    @include textos(20px,center);
}

.globos-small{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.globo1-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#e48315;
}

.globo2-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#5183e7;

}

.globo3-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-color:#fb6f92;
}

.globo4-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: fit-content;
    max-width: 100px;
    height: 20px;
    background-color:#ffb703;
}

.globo5-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#003d5b, #316986);

}

.globo6-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#44355b, #766196);
}

.globo7-small{
    border-radius:10px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:  10px 5px;
    width: 50px;
    height: 20px;
    background-image: linear-gradient(#4A5D23, #7a904e);
}

.globo{
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 200px;
    height: 50px;
    margin:  8px;
    border: 4px solid;

    box-shadow: 5px 5px 0px 0px #000000;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    -moz-box-shadow: 5px 5px 0px 0px #000000;
}


.globo-naranja{
    background-color: #ffb463;
}

//Colores específicos
.globo-rojo {
    background: #FF6B6B;
}

.globo-azul {
    background: #4D96FF;
}

.globo-verde {
    background: #6BCB77;
}