
.grupo{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.seccion1{
    margin: 2%;
    background-color: $ColorBlanco;
    width: 90%;
    height: 50%;
    border-radius: 30px;
    padding: 1%;
    box-shadow: 0px 0px 15px 0px rgba(49, 49, 49, 0.113);
}
.seccion2{
    margin: 2% 1% 2% 2%;
    background-color: $ColorBlanco;
    width: 50%;
    height: 40%;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 0px 0px 15px 0px rgba(49, 49, 49, 0.113);
}

.seccion3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 1% 2% 2%;
    background-color: $ColorBlanco;
    width: 30%;
    height: 60%;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 0px 0px 15px 0px rgba(49, 49, 49, 0.113);
}

.tarjeta__redes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 3%;
    background-color: $ColorGris;
    width: 90%;
    padding: 5%;
    color: $ColorBlanco;
    border-radius: 10px;
    &:hover{
        box-shadow: 0px 0px 15px 0px rgba(49, 49, 49, 0.198);
    }

}

.img__icon{
    height: 70px;
    width: 70px;
    margin: 0% 30px;
}

.input__Info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: solid;
    color: $ColorBlanco;
    background-color: $ColorAzul;
    font-size: 15px;
    padding: 2%;
    margin: 1% 5%;
    width: 70%;
    &:focus{
        box-shadow: 0px 0px 15px 0px rgb(0, 162, 255);
    }
}

.txt__Info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: solid;
    color: $ColorBlanco;
    background-color: $ColorAzul;
    font-size: 15px;
    padding: 20px;
    margin: 1% 5%;
    width: 70%;
    height: 40px;
    &:focus{
        box-shadow: 0px 0px 15px 0px rgb(0, 162, 255);
    }
}

.lista__Info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: solid;
    color: $ColorBlanco;
    background-color:$ColorAzul;
    font-size: 15px;
    padding: 20px;
    margin: 1% 5%;
    width: 70%;
    height: 40px;
    &:focus{
        box-shadow: 0px 0px 15px 0px rgb(0, 162, 255);
    }
}

.pregunta{
    margin: 1% 20%;
    background-color: #c5eaff;
    border-radius: 50px 50px 5px 50px;
    padding: 20px 30px;
    width: 70%;
}

.respuesta{
    background-color: rgb(218, 255, 205);
    border-radius: 50px 50px 50px 5px;
    padding: 20px 30px;
    width: 30%;
}
