
@import "mixin";

body {
    background-image: url("../img/Burbujas.svg");
    background-color: #05041B;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    @include textos(40px,center);    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #05041B;
    nav {
        a {
            @include textos(20px,center); 
        }
    }
}

main {
    margin-top: 190px; /* Agrega un margen superior para compensar el espacio ocupado por el header */
}


footer{
    grid-area: footer;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;    
    background-color: black;
    color: $ColorBlanco;
}

h1{ //solo se usa 1 vez
    @include textos(40px,center);
    margin-top: 30px;
}



h2{ //titulo
    @include textos(25px,center);
    color: white;
    
}

h3{ //subtitulo
    @include textos(23px,center);
    color: white;
}

p{ //parrafo
    @include textos(20px,center);
    color: rgb(255, 255, 255);
}

.just{
    text-align: justify;
}

.txt-Color{
    color: rgb(0, 0, 0);
    
}

.grupo-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
}

.grupoContactos{
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-direction: row;
}

.imgIcon{
    height: 50px;
    width: 50px;
}

.btnContactos{
    width: 80px;
    border-style: none;
    background-color: #05041B;
}

.info{
    margin: 0px 50px 50px 50px;
}