
@import "extend";
@import "mixin";


html{
    scroll-behavior: smooth;
}

.inicio__seccion1{
    background-color: bisque;
    padding: 20%;
}

.inicio__seccion2{
    background-color:brown;
    padding: 20%;
}


.inicio__seccion3{

    background-color:yellowgreen;
    padding: 20%;
}


.inicio__btn__categoria{

    @include botones (10% 5%)
}