
@import "extend";
@import "mixin";


.Experiencia_tarjeta{
    @include tarjeta(90px, 200px)
}

.waves{
    width: 100%;
}

.banner{
    padding: 5%;
    text-align: center;
    background-color: #E2C2A2;
}