@mixin botones($margin){
    font-family: 'Varela Round', sans-serif;    
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: $ColorBlanco;
    background-color: $ColorAzul;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: $margin;
    &:hover{
        background-color:$ColorSeleccion;
    }
}

@mixin tarjeta ($alto, $ancho ){
    margin: 50px;
    text-align: start;
    padding: 50px;
    border: 2px solid;
    background-color: white;
    border-radius: 30px;
    border-color: black;
    height: $alto;
    width: $ancho;
}