.bodyProy{
    display: block;
}

header{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.categorias{
    margin-right: 3%;
    @include textos(17px,center);
    color: #EFEFEF;
}

.grupo-tarjetas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.tarjetas{
    display: flex;
    height: fit-content;
    width: 300px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #EFEFEF;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    .img-tarjeta{
        object-fit:cover;
        width: 300px;
        height: 200px;
        min-height: 200px;
        border-radius: 10px;
        border: 1px solid #0000;
    }
}

.btn-mas{
    background-color:#EFEFEF;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 100px;
    margin-bottom: 20%;
}

.btn-inicio{
    background-color:#EFEFEF;
    box-shadow:0px 0px 20px #1f305e49;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 20px;
}

@media(min-width: 1000px){
    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}