.grupo-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjetas{
    display: flex;
    height: fit-content;
    width: 300px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(23,37,52);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    .img-tarjeta{
        object-fit:cover;
        width: 300px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid #0000;
    }
}


button{
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}


@media(min-width: 1000px){
    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .tarjetas{
            &:hover{
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.323);
                transition: 0.2s;
                transform: scale(102%);
            }
        }
    }

}