.bodyProy{
    display: block;
}

header{
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 60px;
    padding-top: 40px
}

.categorias{
    @include textos(17px, start);
    font-weight: normal;
    color: #000000;
    margin: 0px 20px;
}

.grupo-tarjetas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tarjetas{
    display: flex;
    height: fit-content;
    width: 297px;
    height: 385px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-color: #000000;
    border-radius: 15px;
    border: 3px solid;
    border-color: black;
    border-width: 4px;

    box-shadow: 5px 5px 0px 0px #000000;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    -moz-box-shadow: 5px 5px 0px 0px #000000;
    .img-tarjeta{
        object-fit:cover;
        width: 300px;
        height: 200px;
        min-height: 200px;
        border-radius: 10px;
        border: 1px solid #0000;
    }
}

//Colores específicos
.tarjeta-roja {
    background: #f48278;
}

.tarjeta-azul {
    background: #54d0ed;
}

.tarjeta-verde {
    background: #b0c787;
}

.tarjetas2{
    display: flex;
    height: fit-content;
    width: 300px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-color: #000000;
    border-radius: 15px;
    border: 3px solid;
    border-color: black;
    border-width: 4px;

    box-shadow: 5px 5px 0px 0px #000000;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    -moz-box-shadow: 5px 5px 0px 0px #000000;
    .img-tarjeta{
        object-fit:cover;
        width: 300px;
        height: 200px;
        min-height: 200px;
        border-radius: 10px;
        border: 1px solid #0000;
    }
}

.btn-mas{
    background-color:#ffffff;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 100px;
    margin-bottom: 20%;
    border: 3px solid;
}

.btn-inicio{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

@media(min-width: 1000px){
    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}