
@media(max-width: 1000px){

    .titulo{
        font-size: 30px;
    }

    .imgAdaptable{
        display: none;
    }

    .categorias{
        grid-area: aside;
        margin: 1%;
        padding: 5px;
        background-color: $ColorAzul;
        border-radius: 40px;
        text-align: center;
        height: 100px;
    }

    .inicio__Buscador{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: solid;
        border-color: $ColorBlanco;
        border-radius: 50px;
        color: $ColorBlanco;
        background-color: $ColorBlanco;
        font-size: 15px;
        padding: 15px;
        width: 85%;
        height: 5px;
    }
    
    .inicio__btn__categoria{
        display: none;
    }

    .Body1{ 
        grid-template-columns: 100%;
        grid-template-rows: 140px auto 140px;
        grid-template-areas:" header"
                            " main"
                            " footer"
    }

    .Body2{ 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 140px auto 140px;
        grid-template-areas:" header"
                            " main"
                            " footer"
    }


    .minifotos{
        width: 120px;
        height: 110px;
        border-radius: 20px;
    }
    

    .pregunta{
        margin: 1% 10%;
        background-color: #c5eaff;
        border-radius: 50px 50px 5px 50px;
        padding: 20px 30px;
        width: 70%;
    }

    .respuesta{
        background-color: rgb(218, 255, 205);
        border-radius: 50px 50px 50px 5px;
        padding: 20px 30px;
        width: 60%;
    }

    .seccion1{
        margin-bottom: 2%;
        background-color: $ColorBlanco;
        width: 90%;
        height: 50%;
        border-radius: 30px;
        padding: 1%;
    }


    .seccion2{
        width: 90%;
        height: 40%;
    }
    
    .seccion3{
        width: 90%;
        height: 40%;
    }


    .perfil__tarjetaLogin{
        width: 300px;
        height: 430px;
    }

    .input{
        width: 80%;
    }

}
