
@media(min-width: 1000px){
    header{
        @include textos(20px,center);
    }
    .paginas{
        flex-direction: column;
    }

    .tarjetas:hover{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.323);
        transition: 0.2s;
        transform: scale(102%);
    }

    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
        width: 100%;
    }

    .tarjetas{
        width: 300px;
        height: fit-content;
    }

    .btn:hover{
        background-color: rgba(0, 7, 107, 0.261);
    }

    h1{ //solo se usa 1 vez
        @include textos(88px,center);
        margin: 0px;
    }
    
    h2{ //titulo
        @include textos(37px,center);
        color: #778DA9;
        font-weight:bolder;
    }
    
    p{ //parrafo
        @include textos(17px,center);
        color: rgb(255, 255, 255);
        font-weight:300;
        max-width: 600px;
    }
    .CV{
        @include textos(15px,center);
        display: flex;
        padding: 5px 5px;
        min-width: 150px;
        margin-right: 10px;
    }
    .imgIcon{
        height: 30px;
        width: 30px;
        filter: invert(100);
    }

    .btnContactos{
        border-style: none;
        background-color: #00000000;
        width: 30px; /* es la misma media que imgIcon */
        margin: 0px 15px;
    }
    .desplazamiento{
        background-color: rgba(255, 255, 255, 0.0);
        &:hover{
            background-color: rgba(255, 255, 255, 0.115);
        }
    }
}

