.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    animation: fadein 3s;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

.titulo{
    margin-top: 100px;
}

.imgIcon {
    height: 20px;
    width: 20px;
}

.CV {
    border-radius: 100px;
    color: white;
    background-color: rgba(255, 255, 255, 0.115);
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.btn-CV {
    background-color: #4b7658;
    background-image: linear-gradient(#003d5b, #235e7b);

}

.btn-desplazamiento {
    position: absolute;
    bottom: 10%;
    border: none;
    height: fit-content;
    width: fit-content;
    background-color: #386641;
}

.grupo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin-top: 20px;

    .btn-contactos {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
    }
}