@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*--------------------- PAGINA "INICIO" ---------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 0;
}

header {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  width: 100%;
  height: 10%;
}
header nav a {
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: lighter;
  margin: 15px;
  text-decoration: none;
}

article {
  max-width: 1500px;
}

h1 {
  margin-top: 180px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
  display: block;
}

h3 {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

h4 {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

p {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  max-width: 300px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.margin-b {
  margin-bottom: 20px;
}

.txt-aling {
  text-align: left;
  margin-left: 50px;
}

.colorFondo {
  background-color: rgba(0, 0, 255, 0.079);
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 100%;
  animation-name: ciculoazul;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 -5px 32px 32px rgba(0, 0, 255, 0.079);
}

.colorFondo2 {
  background-color: rgba(85, 255, 0, 0.112);
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 100%;
  animation-name: circuloverde;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 -5px 32px 32px rgba(85, 255, 0, 0.169);
}

@keyframes ciculoazul {
  0% {
    left: 50%;
    bottom: 0%;
  }
  50% {
    left: 0%;
    bottom: 0%;
  }
  100% {
    left: 50%;
    bottom: 0%;
  }
}
@keyframes circuloverde {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 20%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
/*--------------------- Responsive ---------------------*/
/*--------------------- Sobre mi ---------------------*/
.sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  animation: fadein 3s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo {
  margin-top: 100px;
}

.imgIcon {
  height: 20px;
  width: 20px;
}

.btn-desplazamiento {
  position: absolute;
  bottom: 15%;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #386641;
}

.btn-cv {
  position: absolute;
  bottom: 10%;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}

.grupo-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  margin-top: 20px;
}
.grupo-contacto .btn-contactos {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

/*--------------------- Habilidades ---------------------*/
.cont-globos-habilidades {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

.cont-hab-cont {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-habilidades {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
}

.globos-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.globo1-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-color: #e48315;
}

.globo2-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-color: #5183e7;
}

.globo3-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-color: #fb6f92;
}

.globo4-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100px;
  height: 20px;
  background-color: #ffb703;
}

.globo5-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-image: linear-gradient(#003d5b, #316986);
}

.globo6-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-image: linear-gradient(#44355b, #766196);
}

.globo7-small {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px 5px;
  width: 50px;
  height: 20px;
  background-image: linear-gradient(#4A5D23, #7a904e);
}

.globo1 {
  border-radius: 100px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  margin: 8px;
  background-image: linear-gradient(#fb8500, #ffac4d);
}

.globo2 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  margin: 8px;
  background-image: linear-gradient(#5183e7, #7aa6fd);
}

.globo3 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 10px;
  background-image: linear-gradient(#fb6f92, #fc9db3);
  width: 100px;
  height: 100px;
  margin: 8px;
}

.globo4 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-image: linear-gradient(#ffb703, #e0ac00);
  width: 100px;
  height: 100px;
  margin: 8px;
}

.globo5 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-image: linear-gradient(#003d5b, #316986);
  width: 100px;
  height: 100px;
  margin: 8px;
}

.globo6 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-image: linear-gradient(#44355b, #766196);
  width: 100px;
  height: 100px;
  margin: 8px;
}

.globo7 {
  border-radius: 100px;
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-image: linear-gradient(#4A5D23, #7a904e);
  width: 100px;
  height: 100px;
  margin: 8px;
}

@media (min-width: 1000px) {
  .globo1:hover {
    box-shadow: 0px 0px 20px rgba(251, 133, 0, 0.6745098039);
  }
  .globo2:hover {
    box-shadow: 0px 0px 20px rgba(81, 131, 231, 0.6745098039);
  }
  .globo3:hover {
    box-shadow: 0px 0px 20px rgba(251, 111, 146, 0.6745098039);
  }
  .globo4:hover {
    box-shadow: 0px 0px 20px #ffb703;
  }
  .globo5:hover {
    box-shadow: 0px 0px 20px #003d5b;
  }
  .globo6:hover {
    box-shadow: 0px 0px 20px rgba(118, 120, 237, 0.6745098039);
  }
  .globo7:hover {
    box-shadow: 0px 0px 20px #4A5D23;
  }
}
/*--------------------- Proyectos ---------------------*/
.grupo-tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tarjetas {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #386641;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.tarjetas .img-tarjeta {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 200px;
  min-height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}

button {
  background-color: white;
  padding: 10px;
  border-radius: 100px;
  width: 250px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .grupo-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .grupo-tarjetas .tarjetas:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.323);
    transition: 0.2s;
    transform: scale(102%);
  }
}/*# sourceMappingURL=style.css.map */