@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*--------------------- GLOBALES ---------------------*/
.Body1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 130px auto 140px;
  grid-template-areas: " header" " main" " footer";
}

header {
  grid-area: header;
  z-index: 2;
  height: 130px;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  background-color: #E2C2A2;
}
header nav a {
  text-decoration: none;
  padding: 0% 2%;
  color: #000000;
}

.headerTitulo {
  position: absolute;
  top: 50px;
  left: 5%;
  z-index: 2;
}

.headerTexto {
  display: inline;
  position: relative;
  top: 60px;
  left: 30%;
  z-index: 2;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding: 15px;
  justify-content: center;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  background-color: black;
  color: #000000;
}

.t1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: 40px;
}

.t2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: 35px;
}

.t3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.t4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify;
  font-size: 18px;
}

.btn {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #e9edc9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 5%;
}
.btn:hover {
  background-color: black;
}

.grupo__tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  border: solid;
  color: #000000;
  background-color: #e9edc9;
  font-size: 15px;
  padding: 20px;
  margin: 3% 3%;
  width: 330px;
  height: 20px;
}
.input:focus {
  box-shadow: 0px 0px 15px 0px rgb(0, 162, 255);
}

.waves {
  width: 100%;
}

.banner {
  position: relative;
  z-index: 1;
  height: 150px;
  background-color: #E2C2A2;
}

.banner__contenedor {
  position: relative;
  margin: 0px 10%;
  left: 20%;
  z-index: 0;
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: row;
}

/*--------------------- PAGINA "INICIO" ---------------------*/
.Experiencia_tarjeta {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1254901961);
  text-align: start;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  height: 130px;
  width: 200px;
  background-color: white;
}

/*--------------------- PAGINA "EXPERIENCIA" ---------------------*/
/*--------------------- PAGINA "PROYECTOS" ---------------------*/
.grupo__post {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 5%;
}

.post__cuadro {
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(249, 148, 7, 0.664);
}

.post__puntuacion {
  margin: 30px 20px 0px 20px;
  width: 200px;
}

/*--------------------- PAGINA "CONTACTO" ---------------------*/
.tarjetaMail {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1254901961);
  text-align: start;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  height: auto;
  width: 300px;
  background-color: rgba(226, 194, 162, 0.5960784314);
}

.tarjetaRedes {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1254901961);
  text-align: start;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  height: auto;
  width: 300px;
  background-color: rgba(226, 194, 162, 0.5960784314);
}

.contenido {
  display: flex;
  flex-direction: row;
}

.contenedorRedes {
  display: flex;
  flex-direction: column;
}

.icono {
  width: 50px;
  height: 50px;
}

.grupo1 {
  display: flex;
  flex-direction: row;
}

.grupo2 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
} /*--------------------- Responsive ---------------------*//*# sourceMappingURL=style.css.map */