*{
    margin: 0;
    padding: 0;
}

$ColorAzul: #e9edc9;
$ColorBlanco: #000000;
$ColorGris: #00000008;
$ColorSeleccion: black;
/*--------------------- PAGINA "INICIO" ---------------------*/

@import "globales";

/*--------------------- Responsive ---------------------*/


/*--------------------- Sobre mi ---------------------*/
@import "sobreMi";

/*--------------------- Habilidades ---------------------*/
@import "habilidades";

/*--------------------- Proyectos ---------------------*/
@import "proyectos";

